%h2 Editing Snippet

- form_for :snippet, :url => {:action => :update}, :html => {:method => :put} do |form|
  = render :partial => form
  .submit
    = form.submit 'Edit Snippet'
    or 
    = link_to 'Cancel', cms_admin_snippets_path