%h2 New Snippet

- form_for :snippet, :url => {:action => :create } do |form|
  = render :partial => form
  .submit
    = form.submit 'Create Snippet'
    or 
    = link_to 'Cancel', cms_admin_snippets_path