%h2 New Page

- form_for :cms_page, :url => {:action => :create } do |form|
  = render :partial => form
  .submit
    = form.submit 'Create Page', :onclick => 'this.form.target = ""'
    = form.submit 'Preview Page', :onclick => 'this.form.target = "_blank"', :name => 'preview'
    or 
    = link_to 'Return to List', cms_admin_pages_path