#new_category      
  = error_messages_for :category
  = text_field :category, :label
  = select :category, :parent_id, CmsCategory.categories_for_select, :include_blank => true
  = submit_to_remote 'submit-btn', 'Add', :url => cms_admin_categories_path(:item_type => item_type), :with => "Form.Element.serialize('category_label') + '&' +  Form.Element.serialize('category_parent_id')"