html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

*:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left; }

body {
  font: 13px Tahoma, "Lucida Grande", arial, verdana, clean, sans-serif;
  _font-size: small;
  _font: x-small; }

table {
  font-size: inherit;
  font: 100%; }
  table th {
    font-weight: bold; }

pre, code {
  font: 115% monospace;
  _font-size: 100%; }

a {
  color: #083792;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h2 {
  font: 20px/30px Georgia, serif;
  margin-bottom: 15px;
  border-bottom: 2px solid #444; }

a.big_button {
  float: right;
  background-color: #404040;
  color: #fff;
  text-decoration: none;
  padding: 0px 10px;
  -moz-border-radius: 4px;
  font: 12px/24px Tahoma, "Lucida Grande", sans-serif; }

body {
  background-color: #404040; }
  body .header {
    height: 45px;
    background: #404040;
    padding: 0px 15px; }
    body .header h1 {
      padding: 0px;
      margin: 0px; }
      body .header h1 a {
        display: block;
        background: url(/images/cms/logo.png) left center no-repeat;
        padding-left: 60px;
        font: 18px/45px Georgia, serif;
        color: #fff;
        text-decoration: none; }
  body .content_wrapper {
    overflow: hidden;
    background: #ccc; }
    body .content_wrapper .left_navigation_column {
      width: 145px;
      padding: 5px 0px 5px 5px;
      float: left; }
    body .content_wrapper .content_column {
      background-color: #fff;
      margin-left: 150px;
      padding: 15px;
      border-left: 1px solid #aaa;
      overflow: hidden;
      min-height: 300px; }
      body .content_wrapper .content_column .flash.notice {
        padding: 10px;
        text-align: center;
        background-color: #2E9442;
        color: #fff;
        margin-bottom: 15px;
        font-size: 16px; }
  body .footer {
    padding: 15px;
    color: #fff; }

.left_navigation_column ul {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  margin-bottom: 5px;
  padding: 5px 0px;
  background-color: #7b7b7b; }
  .left_navigation_column ul li a {
    display: block;
    padding: 5px 10px;
    font: 13px Georgia, serif;
    color: #fff;
    border: 1px solid transparent; }
  .left_navigation_column ul li a.active, .left_navigation_column ul li a:hover {
    text-decoration: none;
    background-color: #fff;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border: 1px solid #aaa;
    border-right: none;
    margin-right: -1px;
    margin-left: 5px;
    padding-left: 5px;
    color: #000; }
  .left_navigation_column ul li a:hover {
    color: #fff;
    background-color: #888;
    border-color: transparent; }
  .left_navigation_column ul li a.active:hover {
    border-color: #aaa;
    background-color: #fff;
    color: #000; }

.tree_structure ul li {
  margin-left: 35px;
  border-top: 1px solid #eee; }
.tree_structure ul a.tree_toggle {
  margin-top: 5px;
  width: 20px;
  height: 28px;
  float: left;
  margin-left: -35px;
  font: 10px/25px Arial, sans-serif;
  background: url(/images/cms/arrow_bottom.gif) right center no-repeat;
  padding-right: 15px;
  color: #ccc;
  text-align: right; }
.tree_structure ul a.tree_toggle.closed {
  background-image: url(/images/cms/arrow_right.gif); }
.tree_structure ul a.tree_toggle:hover {
  text-decoration: none;
  color: #000; }
.tree_structure ul .item {
  padding: 5px 0px 5px 35px;
  overflow: hidden; }
  .tree_structure ul .item .icon {
    margin-left: -35px;
    float: left;
    width: 28px;
    height: 28px;
    background: url(/images/cms/icon_draft.gif); }
    .tree_structure ul .item .icon .dragger {
      width: 28px;
      height: 28px;
      cursor: move; }
    .tree_structure ul .item .icon .dragger:hover {
      background: url(/images/cms/icon_move.gif); }
  .tree_structure ul .item a.label {
    font: 14px Georgia, serif;
    color: #000; }
  .tree_structure ul .item .url {
    font-size: 10px; }
  .tree_structure ul .item .action_links {
    visibility: hidden;
    font-size: 10px; }
  .tree_structure ul .item table.details {
    font-size: 10px;
    margin: 5px 15px;
    border-left: 3px solid #ccc; }
    .tree_structure ul .item table.details th {
      padding: 0px 5px 0px 10px;
      font-weight: normal; }
.tree_structure ul .item:hover {
  background-color: #f5f5f5; }
  .tree_structure ul .item:hover .action_links {
    visibility: visible; }

table.formatted {
  width: 100%;
  margin-bottom: 15px; }
  table.formatted th, table.formatted td {
    padding: 5px;
    vertical-align: top;
    border-bottom: 1px solid #eee; }
  table.formatted th {
    background-color: #eee;
    font-size: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #444; }
  table.formatted td.main, table.formatted th.main {
    width: 100%;
    white-space: normal; }
  table.formatted td, table.formatted th {
    white-space: nowrap; }
  table.formatted th.first {
    -moz-border-radius-topleft: 4px; }
  table.formatted th.last {
    -moz-border-radius-topright: 4px; }
  table.formatted tr:hover {
    background-color: #f5f5f5; }

.form_element_group {
  background-color: #e5e5e5;
  -moz-border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px; }
  .form_element_group .form_element {
    margin-bottom: 5px;
    overflow: hidden; }
    .form_element_group .form_element .label {
      text-transform: uppercase;
      font-size: 11px; }
    .form_element_group .form_element .field input, .form_element_group .form_element .field select, .form_element_group .form_element .field textarea {
      width: 100%; }
    .form_element_group .form_element .field .codemirror {
      background-color: #fff;
      border: 1px inset #e5e5e5; }
    .form_element_group .form_element .fieldWithErrors label {
      color: #9E0B0F; }
  .form_element_group .form_element.time select, .form_element_group .form_element.date select {
    width: auto; }

.form_element_group.horizontal .form_element .label {
  width: 90px;
  float: left;
  text-align: right;
  line-height: 20px; }
.form_element_group.horizontal .form_element .field {
  margin-left: 100px; }
.form_element_group.horizontal .form_element.large label {
  font-size: 16px;
  line-height: 26px; }
.form_element_group.horizontal .form_element.large .field input {
  font-size: 16px; }

.form_element_group.publishing .form_element .field input {
  width: 200px; }

.form_element_group.categories .label {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 5px; }
.form_element_group.categories ul#root_categories {
  margin-bottom: 10px; }
  .form_element_group.categories ul#root_categories li li {
    padding-left: 15px; }
.form_element_group.categories #new_category input, .form_element_group.categories #new_category select {
  margin-bottom: 5px; }
.form_element_group.categories #new_category input.submit_button {
  width: auto; }

.form_left_column {
  margin-right: 260px; }

.form_right_column {
  float: right;
  width: 250px; }

form .errorExplanation {
  background-color: #9E0B0F;
  padding: 10px;
  margin-bottom: 15px;
  color: #fff;
  -moz-border-radius: 4px;
  font-size: 12px; }
  form .errorExplanation h2 {
    padding: 0px 5px;
    margin: -5px -5px 5px -5px;
    -moz-border-radius: 4px;
    background-color: #000;
    font-size: 16px;
    border: none; }

.pagination {
  margin-bottom: 15px;
  float: right; }
  .pagination a, .pagination span {
    background: #404040;
    color: #fff;
    padding: 2px 5px;
    font-size: 11px;
    -moz-border-radius: 2px; }
  .pagination a:hover {
    text-decoration: none; }
  .pagination span.disabled {
    display: none; }
  .pagination span.current {
    background-color: #999; }

#cms_admin_layouts_index .icon {
  background-image: url(/images/cms/icon_layout.gif); }

#cms_admin_categories_index .icon {
  background-image: url(/images/cms/icon_category.gif); }

#cms_admin_pages_index .icon.published {
  background-image: url(/images/cms/icon_regular.gif); }

#cms_admin_snippets_index a.label {
  font: 14px Georgia, serif;
  color: #000; }
#cms_admin_snippets_index a.slug {
  font-size: 10px; }
#cms_admin_snippets_index .icon {
  width: 28px;
  height: 28px;
  background: url(/images/cms/icon_snippet.gif); }

#cms_admin_attachments_index a.label {
  font: 14px Georgia, serif;
  color: #000; }
#cms_admin_attachments_index a.url {
  font-size: 10px; }
#cms_admin_attachments_index .icon {
  width: 28px;
  height: 28px;
  background: url(/images/cms/icon_attachment.gif); }

#cms_admin_sections_show a.label {
  font: 14px Georgia, serif;
  color: #000; }
#cms_admin_sections_show a.url {
  font-size: 10px; }
#cms_admin_sections_show .icon {
  width: 28px;
  height: 28px;
  background: url(/images/cms/icon_draft.gif); }
#cms_admin_sections_show .icon.published {
  background-image: url(/images/cms/icon_regular.gif); }
