%h2 Editing Attachment

- form_for :attachment, :url => {:action => :update}, :html => {:method => :put, :multipart => true} do |form|
  = render :partial => form
  .submit
    = form.submit 'Edit Attachment'
    
#new_category
  = render :partial => 'cms_admin/categories/new'