= link_to 'Add New Attachment', new_cms_admin_attachment_path, :class => 'big_button'

%h2 Editing Attachment

- form_for :cms_attachment, :url => {:action => :update}, :html => {:method => :put, :multipart => true} do |form|
  = render :partial => form
  .submit
    = form.submit 'Edit Attachment'
    or 
    = link_to 'Return to List', cms_admin_attachments_path