%h2 Editing Attachment

- form_for :cms_attachment, :url => {:action => :update}, :html => {:method => :put, :multipart => true} do |form|
  = render :partial => form
  .submit
    = form.submit 'Edit Attachment'