%h2 New Attachment

- form_for :attachment, :url => {:action => :create }, :html => { :multipart => true } do |form|
  = render :partial => form
  .submit
    = form.submit 'Create Attachment'
    or 
    = link_to 'Cancel', cms_admin_attachments_path
    
#new_category
  = render :partial => 'cms_admin/categories/new'