%h2 New Attachment

- form_for :cms_attachment, :url => {:action => :create }, :html => { :multipart => true } do |form|
  = render :partial => form
  .submit
    = form.submit 'Create Attachment'
    or 
    = link_to 'Return to List', cms_admin_attachments_path